* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #5A5A5A;
}

.container {
    max-width: 1280px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    position: relative;
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C0C0C0;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
}

.side {
    flex: 1;
    background-color: transparent;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 4;
}

.header {
    flex: 2;
}

.main {
    flex: 6;
}